.navbar-text{
  padding-left: 800px;
  font-size: large;
}
.navbar-brand{
  padding-left:50px;
}
.carsual{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    height: 250px;
    margin-top: 250px;
    margin-bottom: 70px;

}
a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

.about{
    background-color:silver;
    margin-top: 50px;
}


#button{
    display: flex;

}
.aboutlogo{
    text-decoration: none;
}
.para{
  padding-top: 25px;
}
footer {
	padding:20px;
   background:#8ab6d6 !important;
   color:white
}


.sub-footer  {
	background:#363636;
   padding:30px;
   color: floralwhite;
   text-align: center;
}

footer h4 {
	margin-bottom:30px;
	text-transform:uppercase;
	text-shadow:none;
	font-weight:550;
	color:#dbf6e9;
}

.mobile{
  margin-left: -1cm;
}

.footer-mid{
   margin-top:2cm;
   margin-left:-0.5cm;
   position: relative;
}


.form-group{
  padding: 5px;

  width: 80%;
}

.link-color{
color:white;
}
